.triangle-arrow {
  width: 0;
  height: 0;
  border: 2em solid transparent;

  &.up {
    border-bottom-color: #ffffff;
  }

  &.down {
    border-top-color: #2980b9;
  }

  &.left {
    border-right-color: #f1c40f;
  }

  &.right {
    border-left-color: #e74c3c;
  }
}

.corner-arrow {
  width: 1.5em;
  height: 1.5em;
  margin: 1em;
  border: 0.5em solid transparent;

  &.up {
    border-right: 0.5em solid #fff;
    border-bottom: 0.5em solid #fff;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  &.down {
    border-right: 0.5em solid #2980b9;
    border-bottom: 0.5em solid #2980b9;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &.right {
    border-right: 0.5em solid #e74c3c;
    border-bottom: 0.5em solid #e74c3c;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &.left {
    border-right: 0.5em solid #f1c40f;
    border-bottom: 0.5em solid #f1c40f;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

.circled-arrow {
  width: 4em;
  height: 4em;
  margin: .5em;
  border: 0.4em solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .corner {
    margin-top: -.5em;
    margin-left: -.5em;
    width: 1.4em;
    height: 1.4em;
    border: 0.4em solid transparent;
  }

  &.up {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border: 0.4em solid #fff;

    .corner {
      border-right: 0.4em solid #fff;
      border-bottom: 0.4em solid #fff;
    }
  }

  &.down {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 0.4em solid #2980b9;

    .corner {
      border-right: 0.4em solid #2980b9;
      border-bottom: 0.4em solid #2980b9;
    }
  }

  &.right {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border: 0.4em solid #e74c3c;

    .corner {
      border-right: 0.4em solid #e74c3c;
      border-bottom: 0.4em solid #e74c3c;
    }
  }

  &.left {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    border: 0.4em solid #f1c40f;

    .corner {
      border-right: 0.4em solid #f1c40f;
      border-bottom: 0.4em solid #f1c40f;
    }
  }
}